.poster {
    display: flex;
    flex-direction: column;
    text-align: space-evenly;
    width: 200px;
    height: 325px;
    flex-basis: 200px; 
    margin: 50px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.poster-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.vote-bar {
    height: 25px;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.vote-count {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: whitesmoke;
    margin: 0px 15px;
    
}

.poster:hover {
    transform: scale(1.05);
}


button img{
    width: 20px;
    height: 20px;
}